# Auth0
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=

# Firebase (Storage)
VITE_FIREBASE_STORAGE_API_KEY=
VITE_FIREBASE_STORAGE_AUTH_DOMAIN=
VITE_FIREBASE_STORAGE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_STORAGE_MESSAGING_SENDER_ID=
VITE_FIREBASE_STORAGE_APP_ID=

# Firebase (History)
VITE_FIREBASE_HISTORY_API_KEY=
VITE_FIREBASE_HISTORY_AUTH_DOMAIN=
VITE_FIREBASE_HISTORY_PROJECT_ID=
VITE_FIREBASE_HISTORY_BUCKET=
VITE_FIREBASE_HISTORY_MESSAGING_SENDER_ID=
VITE_FIREBASE_HISTORY_APP_ID=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
