.parenttask{
  border: 1px solid red;
  /* text-align: center; */
  border: none;

}
.task-dashboardpar{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.task-dashboardpar h2{
  padding: 30px 0px 10px 45px ;
}

.task-dashboard {
  margin-left: 25px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.task-dashboard form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task-dashboard input,
.task-dashboard select,
.task-dashboard textarea {
  padding: 10px;
  font-size: 16px;
}

.task-dashboard button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.task-dashboard button:hover {
  background-color: #45a049;
}

.pending{
  text-align: start;
  margin: 2% 0% 1% 45px;
  font-size: x-large;
}
.highpriority,.midpriority,.lowpriority{
  background-color: #79cd7d;  min-width: 30%;
  min-height: 30vh;
  font-size: larger;
  font-weight: 700;
}
.block{
  display: flex;
  justify-content: space-evenly;
  

}