/* Nav styles */
.nav {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
  }
  
  /* NavLink styles */
  .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .nav-link.active {
    color: #15cdfc;
  }
  
  /* Bars styles */
  .bars-icon {
    display: none;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .bars-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  
  /* NavMenu styles */
  .nav-menu {
    display: flex;
    align-items: center;
    margin-right: -24px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  }
  
  /* NavBtn styles */
  .nav-btn {
    display: flex;
    align-items: center;
    margin-right: -24px;
  }
  
  /* NavBtnLink styles */
  .nav-btn-link {
    border-radius: 4px;
    background: #4a6dd7;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .nav-btn-link:hover {
    background: #fff;
    color: #010606;
  }
  