/* Nav styles */
.nav {
  position: relative;
  overflow: hidden;
  background: rgba(10, 38, 64, 1);
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
  
  /* NavLink styles */
  .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
  }
  .logocon{
    position: absolute;
    top: -27%;
    left: 0%;
  }
  .logo-img {
    width: 350px; 
    height: auto;
  }
  
  .nav-link.active {
    color: #15cdfc;
  }
  
  /* Bars styles */
  .bars-icon {
    display: none;
    color: #fff;
  }

  /* NavMenu styles */
  .nav-menu {
    position: absolute;
    right: 13%;
    display: flex;
    align-items: center;
  }
  
  /* NavBtn styles */
  .nav-btn {
    display: flex;
    align-items: center;
  }
  
  .nav-btn-link {
    position: absolute;
    right: 4%;
    border-radius: 20px;
    background: #fff;
    padding: 12px 40px;
    color: #0A2640;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight:bold;
    text-decoration: none;
  }
  
  .nav-btn-link:hover {
    background: #fff;
    color: #010606;
  }

  .auth0{
    color: #fff;
    top: 50%;
  }

  .auth0 {
    display: flex;
    align-items: center;
  }
  .user-avatar {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px; 
  }
  .active {
    color: blue; 
  }

  .my-account{
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
  }


.dropdown {
  position: absolute;
  top: 12.5%;
  right: 2%;
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px; 
  z-index: 1000;
  min-width: 200px;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -25px; 
  right: 70px; 
  border-width: 0 30px 30px 30px; 
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown .userinfo {
  text-align: center;
  align-items: center;
  margin-bottom: 30px
}

.dropdown .userinfo img {
  width: 60px;
  height: 60px; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.dropdown h3 {
  margin: 0;
}

.dropdown a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 0; 
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

.dropdown button {
  background-color: rgb(215, 202, 202);
  display: block;
  width: 100%;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 10px 0;
}

.dropdown button:hover {
  background-color: red;
}


.circlenav {
  position: absolute;
  z-index: -2;
  top: -700px;
  right: -650px;
  height: 1293px;
  width: 1293px;
  background-color: rgba(28, 61, 91, 1);
  border-radius: 50%;
}