/* Nav styles */
.nav {
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
  }
  
  /* NavLink styles */
  .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .nav-link.active {
    color: #15cdfc;
  }
  
  /* Bars styles */
  .bars-icon {
    display: none;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .bars-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  
  /* NavMenu styles */
  .nav-menu {
    display: flex;
    align-items: center;
    margin-right: -24px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  }
  
  /* NavBtn styles */
  .nav-btn {
    display: flex;
    align-items: center;
    margin-right: -24px;
  }
  
  /* NavBtnLink styles */
  .nav-btn-link {
    border-radius: 4px;
    background: #4a6dd7;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .nav-btn-link:hover {
    background: #fff;
    color: #010606;
  }

  .auth0{
    color: #fff;
    top: 50%;
  }

  .auth0 {
    display: flex;
    align-items: center;
  }
  .user-avatar {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Rounded avatar */
    margin-right: 10px; /* Space between avatar and name */
  }
  .active {
    color: blue; /* Change to your active color */
  }

  .my-garage,.my-account{
    display: flex;
    align-items: center;
    margin: 10px;
  }




/* .dropdown{
  position: absolute;
  top: 10%;
  right: 15%;
  width: 20%;
  height: 50%;
  border: 1px solid blue;
  border-radius: 10%;
  background-color: green;
}

.userinfo{
  border: 1px solid white;
  text-align: center;
  margin-top: 10px;
} */

/* .dropdown {
  position: absolute;
  top: 6%;
  right: 20%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 25px; 
  z-index: 1000;
  min-width: 200px;
} */

.dropdown {
  position: absolute;
  top: 8.5%;
  right: 20%;
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px; 
  z-index: 1000;
  min-width: 200px;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -25px; 
  right: 70px; 
  border-width: 0 30px 30px 30px; 
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.dropdown .userinfo {
  text-align: center;
  align-items: center;
  margin-bottom: 30px
}

.dropdown .userinfo img {
  width: 60px;
  height: 60px; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.dropdown h3 {
  margin: 0;
}

.dropdown a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 0; 
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

.dropdown button {
  background-color: rgb(215, 202, 202);
  display: block;
  width: 100%;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 10px 0;
}

.dropdown button:hover {
  background-color: red;
}
